

header{
	
	display:flex;
	justify-content:space-between;
	margin-right:100px;
	margin-left:100px;
	align-items:center;
    margin-top:-22px;
}




header img{
	height:100px;
	
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.navi{
	display:flex;
}
.button1{
	background-color:#fff;
	margin:30px;
	width:120px;
	height:60px;
	border:1px solid #0a66c2;
	color:#0a66c2;
	cursor:pointer;
	font-family:apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	font-size:20px;
	box-sizing:border-box;
	border-radius:30px;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:10px;
	padding-left:10px;
}

button.button1:hover {
  background-color: #E6FCFB;
}
a.i1:hover,a.i2:hover,a.i3:hover,a.i4:hover{
	color:black;
}


.icon{
	width:44%;
	display:flex;
	padding:20px;
	margin-left:319px;
	cursor:pointer;
	
}
.icon i{
	font-size:25px;
	color:rgba(0, 0, 0, 0.6);
}

.icon a{
	position:relative;
	font-size:16px;
	color:rgba(0, 0, 0, 0.6);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.icon i{
	position:absolute;
	bottom:20px;
}


.icon li a{
	margin:10px;
}
.join{
	margin-right:-136px;
	margin-left:-105px;
	padding-left:30px;
	margin-top:5px;
	padding-right:-5px;
	font-size:20px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.75);
}
.join:hover{
	color:black;
}
.first{
	
	display:flex;
	margin-left:100px;
	height:auto;
	
	
}
.first h1{
	font-size:56px;
	font-family:-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-weight:200;
	color:#922B21 ;
}
.first img{
	width:50%;
	height:50%;
	border-radius:100px;
	margin-left:130px;
	
}
.btn1{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	background: transparent;
	
}

.btn1 i{
	font-size:40px;
	padding:10px;
}
.btn1 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn2{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	
}
.btn2 i{
	font-size:40px;
	padding:10px;
}
.btn2 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}


.btn3{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	
}
.btn3 i{
	font-size:40px;
	padding:10px;
}
.btn3 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn1:hover {
     box-shadow:3px 3px #283747 ;
}
 .btn2:hover{
box-shadow:3px 3px #283747 ;
 } 
.btn3:hover{
	box-shadow:3px 3px #283747 ;
} 
.secound{
	width:100%;
	height:auto;
	color:#ccc;
}

.back-color{
	display:flex;
	width:100%;
	height:400px;
	background-color:#F2F3F4 ;
	margin-top:10px;
}
.back-color h1{
	padding-top: 40px;
	font-size:60px;
	margin-left:120px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight:200;
}
.sbuttons{
	
	margin:80px;
	width:50%;
}
.sbuttons p{
	font-weight:600;
	color:#424949  ;
}


.btn6{
	cursor:pointer;
     color:#424949  ;
	
     font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:500;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
}
.btn7{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn8{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn9{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn10{
	cursor:pointer;
     color:#424949  ;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:500;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
}
.btn11{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn12{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn13{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn6:hover{
	background-color:#E5E8E8 ;
}
.btn7:hover{
	background-color:#E5E8E8 ;
}
.btn8:hover{
	background-color:#E5E8E8 ;
}
.btn9:hover{
	background-color:#E5E8E8 ;
}
.btn10:hover{
	background-color:#E5E8E8 ;
}
.btn11:hover{
	background-color:#E5E8E8 ;
}.btn12:hover{
	background-color:#E5E8E8 ;
}.btn13:hover{
	background-color:#E5E8E8 ;
}
	
