

header{
	
	display:flex;
	justify-content:space-between;
	margin-right:100px;
	margin-left:100px;
	align-items:center;
}




header img{
	height:100px;
	
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.navi{
	display:flex;
}
.button{
	
	margin:30px;
	width:120px;
	height:60px;
	border:1px solid #0a66c2;
	color:#0a66c2;
	cursor:pointer;
	font-family:apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	font-size:20px;
	box-sizing:border-box;
	border-radius:30px;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:10px;
	padding-left:10px;
}
.icon{
	display:flex;
	padding:20px;
	margin-left:330px;
	cursor:pointer;
	
}
.icon i{
	font-size:25px;
	color:rgba(0, 0, 0, 0.6);
}

.icon a{
	font-size:20px;
	color:rgba(0, 0, 0, 0.6);
}


.icon li a{
	margin:10px;
}
.join{
	margin-left:60px;
	margin-top:5px;
	margin-right:10px;
	font-size:20px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.75);
}
}
	
