
header{
	
	display:flex;
	justify-content:space-between;
	margin-right:100px;
	margin-left:100px;
	align-items:center;
    margin-top:-22px;
}




header img{
	height:100px;
	
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.navi{
	display:flex;
}
.button1{
	background-color:#fff;
	margin:30px;
	width:120px;
	height:60px;
	border:1px solid #0a66c2;
	color:#0a66c2;
	cursor:pointer;
	font-family:apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	font-size:20px;
	box-sizing:border-box;
	border-radius:30px;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:10px;
	padding-left:10px;
}

button.button1:hover {
  background-color: #E6FCFB;
}
a.i1:hover,a.i2:hover,a.i3:hover,a.i4:hover{
	color:black;
}


.icon{
	width:44%;
	display:flex;
	padding:20px;
	margin-left:319px;
	cursor:pointer;
	
}
.icon i{
	font-size:25px;
	color:rgba(0, 0, 0, 0.6);
}

.icon a{
	position:relative;
	font-size:16px;
	color:rgba(0, 0, 0, 0.6);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.icon i{
	position:absolute;
	bottom:20px;
}


.icon li a{
	margin:10px;
}
.join{
	margin-right:-136px;
	margin-left:-105px;
	padding-left:30px;
	margin-top:5px;
	padding-right:-5px;
	font-size:20px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:600;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.75);
}
.join:hover{
	color:black;
}
.first{
	
	display:flex;
	margin-left:100px;
	height:auto;
	
	
}
.first h1{
	font-size:56px;
	font-family:-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-weight:200;
	color:#922B21 ;
}
.first img{
	width:50%;
	height:50%;
	border-radius:500px;
	margin-left:130px;
	
}
.btn1{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	background: transparent;
	
}

.btn1 i{
	font-size:40px;
	padding:10px;
}
.btn1 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn2{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	
}
.btn2 i{
	font-size:40px;
	padding:10px;
}
.btn2 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}


.btn3{
	border:1px solid black;
	width:70%;
	display:flex;
	justify-content:space-between;
	margin-left:20px;
	border-radius:10px;
	cursor:pointer;
	border-color:rgba(0, 0, 0, 0.08);
	
}
.btn3 i{
	font-size:40px;
	padding:10px;
}
.btn3 p{
	font-size:20px;
	padding-left:10px;
	font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn1:hover {
     box-shadow:3px 3px #283747 ;
}
 .btn2:hover{
box-shadow:3px 3px #283747 ;
 } 
.btn3:hover{
	box-shadow:3px 3px #283747 ;
} 
.secound{
	width:100%;
	height:auto;
}

.back-color{
	padding-bottom:50px;
	display:flex;
	width:100%;
	height:400px;
	background-color:#F2F3F4 ;
	margin-top:10px;
}
.back-color h1{
	padding-top: 40px;
	font-size:60px;
	margin-left:120px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight:200;
}
.sbuttons{
	
	margin:80px;
	width:50%;
}
.sbuttons p{
	font-weight:600;
	color:#424949  ;
}


.btn6{
	cursor:pointer;
     color:#424949  ;
	
     font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-weight:500;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
}
.btn7{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn8{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn9{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn10{
	cursor:pointer;
     color:#424949  ;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-weight:500;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
}
.btn11{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn12{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn13{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
}
.btn6:hover{
	background-color:#E5E8E8 ;
}
.btn7:hover{
	background-color:#E5E8E8 ;
}
.btn8:hover{
	background-color:#E5E8E8 ;
}
.btn9:hover{
	background-color:#E5E8E8 ;
}
.btn10:hover{
	background-color:#E5E8E8 ;
}
.btn11:hover{
	background-color:#E5E8E8 ;
}.btn12:hover{
	background-color:#E5E8E8 ;
}.btn13:hover{
	background-color:#E5E8E8 ;
}
.back-color2{
	
	width:100%;
	height:500px;
	display:flex;
	
}
.back-color2 h1{
	font-size:60px;
	font-weight:200;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	
	margin-left:120px;
}
.tbutton p{
	font-weight:600;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.tbutton{
	margin:73px;
	width:48%;
}
.btn14{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin:10px;
	background-color:#fff;
}
.btn15{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}
.btn16{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}
.btn17{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}
.btn18{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
	background-color:#fff;
}
.btn19{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
	background-color:#fff;
	
}.btn20{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}.btn21{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	margin-bottom:10px;
	background-color:#fff;
	
}
.btn22{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}.btn23{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}
.btn124{
	cursor:pointer;
     color:#424949  ;
	font-weight:500;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:25px;
	padding:15px;
	border-radius:50px;
	background-color:#fff;
	
}
.btn14:hover{
	background-color:#E5E8E8;
	
}
.btn15:hover{
	background-color:#E5E8E8;
	
}

.btn16:hover{
	background-color:#E5E8E8;
	
}
.btn17:hover{
	background-color:#E5E8E8;
	
}
.btn18:hover{
	background-color:#E5E8E8;
	
}
.btn19:hover{
	background-color:#E5E8E8;
	
}
.btn20:hover{
	background-color:#E5E8E8;
	
}
.btn21:hover{
	background-color:#E5E8E8;
	
}
.btn22:hover{
	background-color:#E5E8E8;
	
}
.btn23:hover{
	background-color:#E5E8E8;
	
}
.btn24:hover{
	background-color:#E5E8E8;
	
}
.back-color3{
	
	background-color:#f1ece5;
	width:100%;
	height:325px;
	display:flex;
}
.back-color3 h1{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	padding-left:120px;
	padding-top:50px;
	font-size: 40px;
    font-weight: 450;
    color: #b24020;
}
.btn-div button{
	background-color:#f1ece5;
	font-size:20px;
	font-weight:700;
     color:#0a66c2;
	 border-color:#0a66c2;
	margin:120px;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:24px;
	padding-left:24px;
	border-radius:50px;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn-div button:hover{
	box-shadow:0 0 0 1px;
	background-color:#EBF2F2  ;
}
.back-color4{
	width:100%;
	height:900px;
	background-color:#F2F3F4;
	display:flex;
	justify-content:space-between;
}
.back-color4 img{
	height:500px;
	width:500px;
	margin-top:243px;
	margin-right:-100px;
}
.content1{
	margin-left:120px;
	margin-top:300px;
}
.content1 h1{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight:400;
	line-height: 1.30;
	font-size:40px;
	color: #b24020;
	
}
.content1 p{
	    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	
	font-size:32px;
	font-weight:100;
	color:rgba(0, 0, 0, 0.9);
	line-height: 1.30;
    
}
.nexticon{
	display:flex;
	margin-right:150px;
	margin-top:180px;
	box-sizing:border-box;
	border:0px solid white;
	height:50px;
	text-align:center;
	
}
.nexticon p{
	font-size:20px;
}
.nexticon i{
	padding-top:17px;
	padding-left:20px;
	font-size:35px;
}
.nexticon:hover{
	color:red;
}
.back-color5{
	width:100%;
	height:900px;
	display:flex;
	
	
}
.content2{
	width:30%;
	height:30%;
	margin-left:120px;
	margin-top:150px;
}
.content2 img{
	width:80%;
	
}
.content2 h1{
	font-size:50px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight:200;
    	
}
.content2 button{
	font-size:25px;
	padding:20px;
	border-radius:50px;
	font-weight:200;
	background-color:white;
	border:1px solid black;
}
.content2 button:hover{
	background-color:#E5E8E8;
}
.content3{
	width:30%;
	height:30%;
	margin-top:150px;
	margin-left:200px;
	
}
.content3 img{
	width:80%;
	
}
.content3 h1{
	font-size:50px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight:200;
}
.search{
	font-weight:400;
	border:.5px solid black;
	width:400px;
	padding:20px;
	font-size:23px;
	border-radius:10px;
	border-color:#E5E8E8;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.search:hover{
	color:#E5E8E8
}
.iframe1{
	height:800px;
	width:100%;
	display:flex;
	justify-content:space-between;
	background-color:#f4faff;
	
  
}
.iframe1 h1{
	padding-right:330px;
	padding-top:300px;
	font-size:40px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
     color: #b24020;
	 font-weight:400;
}
.if{
	margin-left:120px;
	margin-top:200px;
	
}
.if iframe{
	border-radius:10px;
}
.back-img{
	width: 100%;
	height: auto;
}
.back-image9{
	
	background-image:url(../images/last.jpg);
	width:100%;
	height:800px;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:20px;
	
}
.back-image9 h1{
	margin-left:120px;
	font-size:60px;
	font-weight:200;
	color:#fff;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
	
}
.back-image9 button{
	font-size:20px;
	margin-left:120px;
	
	padding:20px;
    border-radius:50px;
	font-weight:600;
	background-color:#0a66c2;
	color:#fff;
	border:1px solid #0a66c2;
}
	

.back-color10{
	display:flex;
	justify-content:space-between;
	height:400px;
	width:100%;
	background-color:#F2F3F4;
}    
.back-color10 img{
	height:80px;
	width:80px;
	margin-left:120px;
}
.back-color10 h1{
	font-size:20px;
}
.fcontent1{
	padding-left:30px;
}
.fcontent4{
	padding-right:250px;
}